* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/PROBLEMS -text
/README -text
/TODO -text
/apertium-cat-srd.cat-srd.dix -text
/apertium-cat-srd.cat-srd.lrx -text
/apertium-cat-srd.cat-srd.t1x -text
/apertium-cat-srd.cat-srd.t2x -text
/apertium-cat-srd.cat-srd.t3x -text
/apertium-cat-srd.srd-cat.lrx -text
/apertium-cat-srd.srd-cat.t1x -text
/apertium-cat-srd.srd-cat.t2x -text
/apertium-cat-srd.srd-cat.t3x -text
/autogen.sh -text
avaluacio/apertium-eval-translator.pl -text
avaluacio/vent20170331.cat.txt -text
avaluacio/vent20170331.srd.fin.txt -text
avaluacio/vent20170331.srd.ini.txt -text
/carregar_lexic.pl -text
/configure.ac -text
dev/RULES-AND-MULTIWORDS -text
dev/adv-menti.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/generation-summary.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/ltexpand_csv.sh -text
dev/missing-bidix-freq.sh -text
dev/stats.txt -text
dev/testvoc-summary.ca-sc.txt -text
dev/testvoc-summary.sc-ca.txt -text
dev/testvoc.sh -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/testvoc/streamparser.py -text
/evaluation.gsoc2017 -text
/modes.xml -text
t/README.org -text
t/config.sh -text
t/config.sh.in -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
texts/elnacional170618.srd.170702.txt -text
texts/elnacional170618.txt -text
texts/escocia.cat.170701.txt -text
texts/escocia.srd.fin.170701.txt -text
texts/escocia.srd.ini.170701.txt -text
texts/terrasarda.ca.txt -text
texts/terrasarda.sc.txt -text
texts/test_file.txt -text
texts/udhr.ca.posteditat.txt -text
texts/udhr.ca.txt -text
texts/udhr.sc.txt -text
texts/ulca.cat.170701.txt -text
texts/ulca.srd.fin.170701.txt -text
texts/ulca.srd.ini.170701.txt -text
texts/wiki.elaboradore.txt -text
/vent20170331.cat.txt -text
/vent20170331.srd.fin.txt -text
/vent20170331.srd.ini.txt -text
