* text=auto !eol
/AUTHORS -text
/Makefile -text
/PROBLEMS -text
/TODO -text
/apertium-cat-srd.cat-srd.dix -text
/apertium-cat-srd.cat-srd.t1x -text
/apertium-cat-srd.cat.dix -text
/apertium-cat-srd.post-cat.dix -text
/apertium-cat-srd.post-srd.dix -text
/apertium-cat-srd.srd-cat.t1x -text
/apertium-cat-srd.srd.acx -text
/apertium-cat-srd.srd.dix -text
/cat-srd.prob -text svneol=unset#unset
cat/apertium-cat-srd.cat.dixtmp1 -text
cat/update.sh -text
dev/RULES-AND-MULTIWORDS -text
dev/adv-menti.txt -text
dev/bidix/pending_adjectives.txt -text
dev/bidix/pending_adverbs.txt -text
dev/bidix/pending_conjunctions.txt -text
dev/bidix/pending_determiners.txt -text
dev/bidix/pending_nouns.txt -text
dev/bidix/pending_numerals.txt -text
dev/bidix/pending_prepositions.txt -text
dev/bidix/pending_pronouns.txt -text
dev/bidix/pending_proper_nouns.txt -text
dev/bidix/pending_verbs.txt -text
dev/bilingual-summary.txt -text
dev/generation-summary.txt -text
dev/generation-test.sh -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/ltexpand_csv.sh -text
dev/missing-bidix-freq.sh -text
dev/stats.txt -text
dev/terrasarda.ca.txt -text
dev/terrasarda.sc.txt -text
dev/test_file.txt -text
dev/testvoc-summary.ca-sc.txt -text
dev/testvoc-summary.sc-ca.txt -text
dev/testvoc.sh -text
dev/udhr.ca.posteditat.txt -text
dev/udhr.ca.txt -text
dev/udhr.sc.txt -text
dev/wiki.elaboradore.txt -text
/modes.xml -text
/pending-tests.sh -text
/srd-cat.prob -text svneol=unset#unset
/wiki-tests.sh -text
